
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;




$sm-widths: " screen and (min-width:#{$sm-min})";
$md-widths: " screen and (min-width:#{$md-min})";
$lg-widths: " screen and (min-width:#{$lg-min})";
$xl-widths: " screen and (min-width:#{$xl-min})";


$yellow : #fcac45;